<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/detalhes.css">
    <title>Detalhes do Empréstimo</title>
</head>
<body>
<div id="modals-emprestimo" class="modal hide">
    <div class="modal-content">
        <div class="modal-headers">
            <header>Detalhes do Empréstimo</header>
            <button>
                <a href="/">Voltar</a>
            </button>
        </div>
        <div class="modal-body">
            <!-- Iniciar o formulário com método POST -->
            <form action="/editHistorico" method="POST">
                <input type="hidden" name="_method" value="PUT" />
                <div class="details-emprestimo">
                    <!-- Primeira parte -->
                    <div class="fields-group">
                        <div class="field">
                            <label>ID:</label>
                            <input type="text" name="id" th:value="${histori.id}" readonly />
                        </div>
                        <div class="field">
                            <label>Nome do Cliente:</label>
                            <input type="text" name="status" th:value="${histori.cliente.nome}" readonly />
                        </div>
                        <div class="field">
                            <label>Status:</label>
                            <input type="text" name="status" th:value="${histori.status}" readonly />
                        </div>
                    </div>

                    <!-- Segunda parte -->
                    <div class="fields-group">
                        <div class="field">
                            <label>Valor do Empréstimo:</label>
                            <input type="text" name="price" th:value="${histori.price}" readonly/>
                        </div>
                        <div class="field">
                            <label>Porcentagem:</label>
                            <input type="text" name="percentage" th:value="${histori.percentage}" readonly />
                        </div>
                        <div class="field">
                            <label>Parceiro:</label>
                            <input type="text" name="socio" th:value="${histori.socios.name}" readonly />
                        </div>
                    </div>

                    <!-- Terceira parte -->
                    <div class="fields-group">
                        <div class="field">
                            <label>Banco:</label>
                            <input type="text" name="banco" th:value="${histori.banco.nome}" readonly />
                        </div>
                        <div class="field">
                            <label>Descrição:</label>
                            <input type="text" name="description" th:value="${histori.description}" readonly />
                        </div>
                        <div class="field">
                            <label>Data:</label>
                            <input type="text" name="created" th:value="${#dates.format(histori.created, 'dd/MM/yyyy')}" readonly />
                        </div>
                        <div class="field">
                            <label>Data Final:</label>
                            <input type="text" name="created" th:value="${dataDePagamentoMap[histori.id]}" readonly />
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>
