<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/detalhes.css">

    <title>Detalhes do Empréstimo</title>
</head>
<body>
<div id="modals-emprestimo" class="modal hide">
    <div class="modal-content">
        <div class="modal-headers">
            <header>Detalhes do Empréstimo</header>
            <button>
               <a href="/">Voltar</a>
            </button>
        </div>
        <div class="modal-body" th:each="historia : ${histori}">
            <div class="details-emprestimo">
                 <div class="fields">
                    <p><strong>ID: </strong><span th:text="${historia.id}"></span></p>
                    <p><strong>Nome do Cliente:</strong> <span th:text="${historia.cliente.nome}"></span></p>
                    <p><strong>Valor Mensal:</strong>
                        <span th:text="${priceTotals[historia.id]}"></span>
                    </p>
                    <p><strong>Porcentagem:</strong> <span th:text="${historia.percentage} + '%'"></span></p>
                    <p><strong>Status:</strong> <span th:text="${historia.status}"></span></p>
                    <p><strong>Descrição:</strong> <span th:text="${historia.description}"></span></p>
                    <p><strong>Data:</strong> <span th:text="${#dates.format(historia.created, 'dd/MM/yyyy')}"></span></p>
                    <p><strong>Parcelamento:</strong> <span th:text="${historia.parcelamento} + ' meses'"></span></p>
                    <p><strong>Sócio:</strong> <span th:text="${historia.socios.name}"></span></p>
                    <p><strong>Banco:</strong> <span th:text="${historia.banco.nome}"></span></p>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>