<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/detalhes.css">
    <title>Detalhes do Empréstimo</title>
</head>
<body>
<div id="modals-emprestimo" class="modal hide">
    <div class="modal-content">
        <div class="modal-headers">
            <header>Detalhes do Empréstimo</header>
            <button>
                <a href="/">Voltar</a>
            </button>
        </div>
        <div class="modal-body">
            <!-- Iniciar o formulário com método POST -->
            <form th:action="@{/emprestimo/{codigo}/salvar(codigo=${historico.codigo})}" method="POST">
                <input type="hidden" name="_method" value="PUT" />

                <div class="details-emprestimo">
                    <div class="fields">
                        <p><strong>ID:</strong>
                            <input type="text" name="codigo" th:value="${histori.codigo}" readonly />
                        </p>
                        <p><strong>Nome do Cliente:</strong>
                            <select name="cliente" required>
                                <option th:each="cliente : ${clientes}"
                                        th:value="${cliente.id}"
                                        th:text="${cliente.nome}"
                                        th:selected="${cliente.id == histori.cliente.id}">
                                </option>
                            </select>
                        </p>
                        <p><strong>Status:</strong>
                            <input type="text" name="status" th:value="${histori.status}" readonly />
                        </p>
                        <p><strong>Valor do Empréstimo:</strong>
                            <input type="text" name="price" th:value="${histori.price}" />
                        </p>
                        <p><strong>Porcentagem:</strong>
                            <input type="text" name="percentage" th:value="${histori.percentage}" />
                        </p>
                        <p><strong>Parcelamento:</strong>
                            <input type="text" name="parcelamento" th:value="${histori.parcelamento}" />
                        </p>
                        <p><strong>Parceiro:</strong>
                            <input type="text" name="socio" th:value="${histori.socios.name}" />
                        </p>
                        <p><strong>Banco de Saída:</strong>
                            <input type="text" name="bancoSaida" th:value="${histori.bancoSaida.nome}" />
                        </p>
                        <p><strong>Descrição:</strong>
                            <input type="text" name="description" th:value="${histori.description}" />
                        </p>
                        <p><strong>Data de Criação:</strong>
                            <input type="date" name="created"
                                   th:value="${#dates.format(histori.created, 'yyyy-MM-dd')}" />
                        </p>
                        <p><strong>Data Final:</strong>
                            <input type="date" name="finalDate"
                                   th:value="${#dates.format(histori.creationF, 'yyyy-MM-dd')}" />
                        </p>
                        <button type="submit">Salvar</button>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
</body>
</html>
