<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importação da fonte de ícones do Material Symbols -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"/>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <title>AdminHub</title>
</head>
<body>


<!-- SIDEBAR -->
<section id="sidebar">
    <a href="/" class="brand">
        <i class='bx bxs-smile'></i>
        <span class="text">AdminHub</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a href="#">
                <i class='bx bxs-dashboard' ></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/Table">
                <i class='bx bxs-shopping-bag-alt' ></i>
                <span class="text">My Table</span>
            </a>
        </li>
        <li>
            <a href="/Analytics">
                <i class='bx bxs-doughnut-chart' ></i>
                <span class="text">Analytics</span>
            </a>
        </li>

    </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu' ></i>
        <div class="search">
            <form th:action="@{/search}" method="get" >
                <label for="keyword"></label>
                <input type="text" id="keyword" name="keyword" placeholder="Digite o nome do cliente">
                <button type="submit"><span class="material-symbols-sharp">
                search
            </span>
                </button>
            </form>
        </div>

        <!-- Botão para abrir o modal de notificações -->
        <div id="open-modal">
            <button class="notification">
                <span class="material-symbols-sharp">notifications</span>
                <span class="num" th:text="${totalNotify}"></span>
            </button>
        </div>

        <!-- Área de fundo (Fade) -->
        <div id="fade" class="hide"></div>
        <!-- Modal -->
        <div id="modal" class="hide">
            <div class="modal-header">
                <h2>Notifications</h2>
                <button id="close-modal">
                    <span class="material-symbols-sharp">close</span>
                </button>
            </div>

            <div class="notify-item" th:each="notification : ${notifications}">
                <div class="notify_img">
                    <img src="/img/Admin.jpg" alt="" style="width: 50px;">
                </div>
                <div class="notify-info">
                    <p><span th:text="${notification.message}"></span></p>
                    <p>
                        <span class="notify-time" th:text="${#temporals.format(notification.createdAt, 'mm')}"></span> minutes ago.
                    </p>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="profile-photo" onclick="toggleSubMenu()">
                <img src="/img/Admin.jpg" alt="" />
            </div>
        </div>
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="img/Admin.jpg" alt="Perfil">
                    <h2>Shadow</h2>
                </div>
                <hr>
                <a href="/logout">
                    <span class="material-symbols-sharp">logout</span>
                    Sair
                </a>
            </div>
        </div>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right' ></i></li>
                    <li>
                        <a class="active" href="#">Home</a>
                    </li>
                </ul>
            </div>
        </div>

        <ul class="box-info">
            <li>
                <i class='bx bxs-calendar-check'></i>
                <span class="text">
                    <h3 th:text="${emprestimosAtivos}">0</h3>
                    <p>Empréstimos Ativos</p>
                </span>
            </li>
            <li>
                <i class='bx bxs-group' ></i>
                <span class="text">
						<h3 th:text="${ClientesSize}"></h3>
						<p>Clientes Cadastrados</p>
					</span>
            </li>
            <li>
                <i class='bx bxs-dollar-circle' ></i>
                <span class="text">
						<h3>$<span th:text="${somaDeEmprestimo}"></span></h3>
						<p>Total de Emprestimos (S/J)</p>
					</span>
            </li>
        </ul>


        <div class="table-data">
            <div class="order">
                <div class="head">

                    <!-- Navegação entre os meses -->
                    <div class="mes-navegacao">
                        <form method="get" action="/">
                            <label for="month-select">Escolha o Mês: </label>
                            <select id="month-select" name="month" onchange="this.form.submit()">
                                <option value="1" th:selected="${selectedMonth == 1}">Janeiro</option>
                                <option value="2" th:selected="${selectedMonth == 2}">Fevereiro</option>
                                <option value="3" th:selected="${selectedMonth == 3}">Março</option>
                                <option value="4" th:selected="${selectedMonth == 4}">Abril</option>
                                <option value="5" th:selected="${selectedMonth == 5}">Maio</option>
                                <option value="6" th:selected="${selectedMonth == 6}">Junho</option>
                                <option value="7" th:selected="${selectedMonth == 7}">Julho</option>
                                <option value="8" th:selected="${selectedMonth == 8}">Agosto</option>
                                <option value="9" th:selected="${selectedMonth == 9}">Setembro</option>
                                <option value="10" th:selected="${selectedMonth == 10}">Outubro</option>
                                <option value="11" th:selected="${selectedMonth == 11}">Novembro</option>
                                <option value="12" th:selected="${selectedMonth == 12}">Dezembro</option>
                            </select>
                        </form>

                    </div>

                </div>

                <!-- Tabela de Dados dos Históricos -->
                <!-- Tabela de Dados dos Históricos -->
                <div class="tabelas-mes">
                    <div th:each="dia : ${#numbers.sequence(1, 31)}">
                    <h3 th:text="|Dia ${dia}|"></h3>
                    <table class="tabela-historico">
                            <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Valor Mensal</th>
                                <th>Dia do Empréstimo</th>
                                <th>Datas de Pagamento</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="parcela : ${parcelas}"
                                th:if="${#dates.format(parcela.dataPagamento, 'MM') == #numbers.formatInteger(dia, 2)}">
                                <td th:text="${parcela.historico.cliente.nome}"></td>
                                <td th:text="${parcela.valor}"></td>
                                <td th:text="${#dates.format(parcela.historico.created, 'dd/MM/yyyy')}"></td>
                                <td th:text="${#dates.format(parcela.dataPagamento, 'dd/MM/yyyy')}"></td>
                                <td>
                                    <span th:if="${parcela.pagas == -1}" style="color: red;">PENDENTE</span>
                                    <span th:if="${parcela.pagas > 0}" style="color: green;">PAGO</span>
                                    <span th:if="${parcela.pagas == 0}" style="color: orange;">A PAGAR</span>
                                </td>
                            </tr>
                            </tbody>
                        <tfoot>
                            <tr>
                                <th>Cliente</th>
                                <th>Valor Mensal</th>
                                <th>Dia do Empréstimo</th>
                                <th>Datas de Pagamento</th>
                                <th>Status</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </main>
</section>

<script src="/js/script.js"></script>


</body>
</html>
