<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importação da fonte de ícones do Material Symbols -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"/>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <!-- My CSS -->
    <link rel="stylesheet" href="/css/index.css">

    <title>AdminHub</title>
</head>
<body>


<!-- SIDEBAR -->
<section id="sidebar">
    <a href="/" class="brand">
        <i class='bx bxs-smile'></i>
        <span class="text">AdminHub</span>
    </a>
    <ul class="side-menu top">
        <li >
            <a href="/">
                <i class='bx bxs-dashboard' ></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li class="active">
            <a href="/Table">
                <i class='bx bxs-shopping-bag-alt' ></i>
                <span class="text">Tabela</span>
            </a>
        </li>
        <li>
            <a href="/Analytics">
                <i class='bx bxs-doughnut-chart' ></i>
                <span class="text">Analytics</span>
            </a>
        </li>
        <li>
            <a href="/Relatorio">
                <i class='bx bxs-doughnut-chart' ></i>
                <span class="text">Relatorios</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu' ></i>
        <div class="search">
            <form th:action="@{/search}" method="get" >
                <label for="keyword"></label>
                <input type="text" id="keyword" name="keyword" placeholder="Digite o nome do cliente">
                <button type="submit"><span class="material-symbols-sharp">
                search
            </span>
                </button>
            </form>
        </div>

        <!-- Botão para abrir o modal de notificações -->
        <div id="open-modal">
            <button class="notification">
                <span class="material-symbols-sharp">notifications</span>
                <span class="num" th:text="${totalNotify}"></span>
            </button>
        </div>

        <!-- Área de fundo (Fade) -->
        <div id="fade" class="hide"></div>

        <!-- Modal -->
        <div id="modal" class="modal-container">
            <div class="modal-header">
                <h2>Notificações</h2>
                <button id="close-modal">
                    <span class="material-symbols-sharp">close</span>
                </button>
            </div>

            <!-- Área que terá scroll -->
            <div class="modal-body">
                <div class="notify-item" th:each="notification : ${notifications}">
                    <div class="notify_img">
                        <img src="/img/Admin.jpg" alt="" style="width: 50px;">
                    </div>
                    <div class="notify-info">
                        <p><span th:text="${notification.message}"></span></p>
                        <p>
                            <span class="notify-time" th:text="${#temporals.format(notification.createdAt, 'mm')}"></span> minutos atrás.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Botão para limpar notificações -->
            <div class="modal-footer">
                <button id="clear-notifications">Limpar Notificações</button>
            </div>
        </div>

        <div class="profile" onclick="toggleSubMenu()">
            <div class="profile-photo">
                <img src="/img/Admin.jpg" alt="" />
            </div>
        </div>
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="img/Admin.jpg" alt="Perfil">
                    <h2>Shadow</h2>
                </div>
                <hr>
                <a href="/logout">
                    <span class="material-symbols-sharp">logout</span>
                    Sair
                </a>
            </div>
        </div>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right' ></i></li>
                    <li>
                        <a class="active" href="#">Table</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Tabela Emprestimos</h3>

                    <!-- Botão para abrir o modal -->
                    <button class="addB" aria-label="Adicionar Banco">Add Banco</button>
                    <!-- Modal de Adicionar Banco -->
                    <div id="modal-add-banco" class="modal hide">
                        <div class="modal-content">
                            <button id="close-modal-add-banco" class="close-button" aria-label="Fechar">X</button>
                            <div class="modal-headers">
                                <header>Registro de Banco</header>
                            </div>
                            <div class="modal-body">
                                <form id="form-add-banco" action="/bancos" method="POST">
                                    <div class="details-banco">
                                        <div class="fields">
                                            <!-- Nome do Banco -->
                                            <div class="input-field">
                                                <label for="nome-banco">Nome do Banco</label>
                                                <input type="text" id="nome-banco" name="nome" placeholder="Digite o nome do banco" required>
                                            </div>

                                            <!-- Descrição do Banco -->
                                            <div class="input-field">
                                                <label for="descricao-banco">Descrição</label>
                                                <input type="text" id="descricao-banco" name="descricao" placeholder="Digite a Descrição" required>
                                            </div>

                                            <!-- Botão de Envio -->
                                            <button type="submit">Salvar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Botão para abrir o modal de adicionar funcionário -->
                    <button id="openAddFuncionario" class="addF" aria-label="Adicionar Funcionário">Add Funcionário</button>

                    <!-- Formulário de Adicionar Funcionário Simplificado -->
                    <div id="modal-overlay" class="modal-overlay hide">

                        <div id="modal-add-funcionario" class="modal hide">
                            <div class="modal-content">
                                <div class="modal-headers">
                                    <button id="closeAddFuncionario" class="close-button">&times;</button>
                                    <h2>Adicionar Funcionário</h2>
                                </div>
                                <div class="modal-body">
                                    <form action="/Table" method="POST">
                                        <div class="input-field">
                                            <label for="name">Nome</label>
                                            <input id="name" name="name" type="text" placeholder="Digite o nome" required>
                                        </div>
                                        <div class="input-field">
                                            <label for="idade">Idade</label>
                                            <input id="idade" name="idade" type="number" placeholder="Digite a idade" required>
                                        </div>
                                        <div class="input-field">
                                            <label for="contact">Contato</label>
                                            <input id="contact" name="contact" type="text" placeholder="Digite o contato" required>
                                        </div>
                                        <div class="input-field">
                                            <label for="address">Endereço</label>
                                            <input id="address" name="address" type="text" placeholder="Digite o endereço" required>
                                        </div>
                                        <button id="btnSaveFuncionario" type="submit">Salvar Funcionário</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Botão para abrir o modal de adicionar cliente -->
                    <button class="addC" id="openModalCliente" aria-label="Adicionar Cliente">Add Cliente</button>
                    <!-- Modal de Adicionar Cliente -->
                    <div id="modal-add-cliente" class="modal hide">
                        <div class="modal-content">
                            <div class="modal-headers">
                                <button class="close" id="closeModalCliente">&times;</button>
                                <header>Adicionar Cliente</header>
                            </div>
                            <div class="modal-body">
                                <form id="form-cliente" method="post" action="/clientes/adicionar">
                                    <div id="cliente-mensagem" class="alert hide">
                                        <p id="cliente-alert-text"></p>
                                    </div>
                                    <div class="input-field">
                                        <label>Nome</label>
                                        <input type="text" id="nome" name="nome" placeholder="Digite o nome do cliente" required>
                                    </div>
                                    <div class="input-field">
                                        <label>CPF</label>
                                        <input type="text" id="cpf" name="cpf" placeholder="Digite o CPF" required>
                                    </div>
                                    <div class="input-field">
                                        <label>Contato</label>
                                        <input type="text" id="contato" name="contato" placeholder="Digite o contato do cliente" required>
                                    </div>
                                    <div class="input-field">
                                        <label>Endereço</label>
                                        <input type="text" id="endereco" name="endereco" placeholder="Digite o endereço" required>
                                    </div>
                                    <button type="submit">Salvar Cliente</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <button class="add" aria-label="Adicionar empréstimo">Add Emprestimo</button>
                    <div id="modal-add-emprestimo" class="modal hide">
                        <div class="modal-content">
                            <button class="close-button" aria-label="Fechar">X</button>
                            <div class="modal-headers">
                                <header>Registro de Empréstimo</header>
                            </div>
                            <div class="modal-body">
                                <form action="/save" method="POST">
                                    <div class="details-emprestimo">
                                        <div class="fields">
                                            <!-- Nome do Cliente -->
                                            <div class="input-field">
                                                <label>Nome do Cliente</label>
                                                <select name="cliente.id" required>
                                                    <option value="" disabled selected>Escolha o Cliente</option>
                                                    <option th:each="cliente : ${clientes}"
                                                            th:value="${cliente.id}"
                                                            th:text="${cliente.nome}"></option>
                                                </select>
                                            </div>


                                            <!-- Valor do Empréstimo -->
                                            <div class="input-field">
                                                <label>Valor do Empréstimo</label>
                                                <input type="number" name="price" placeholder="Digite o valor do empréstimo" required>
                                            </div>

                                            <!-- Porcentagem -->
                                            <div class="input-field">
                                                <label>Porcentagem (%)</label>
                                                <input type="number" name="percentage" step="0.01" placeholder="Digite a porcentagem de juros" required>
                                            </div>

                                            <!-- Parcelamento -->
                                            <div class="input-field">
                                                <label>Parcelamento (meses)</label>
                                                <input type="number" name="parcelamento" placeholder="Digite o número de parcelas" required>
                                            </div>

                                            <!-- Banco Saída -->
                                            <div class="input-field">
                                                <label>Banco Saída</label>
                                                <select name="bancoSaida" required>
                                                    <option value="" disabled selected>Escolha um Banco</option>
                                                    <option th:each="banco : ${bancos}" th:value="${banco.id}" th:text="${banco.nome}"></option>
                                                </select>
                                            </div>

                                            <!-- Socio -->
                                            <div class="input-field">
                                                <label>Funcionario</label>
                                                <select name="socios.id" required> <!-- Alterado de banco.id para socios.id -->
                                                    <option value="" disabled selected>Escolha quem emprestou</option>
                                                    <option th:each="socio : ${socios}"
                                                            th:value="${socio.id}"
                                                            th:text="${socio.name}"></option>
                                                </select>
                                            </div>


                                            <!-- Data -->
                                            <div class="input-field">
                                                <label>Data</label>
                                                <input type="date" name="created" required>
                                            </div>

                                            <!-- Descrição -->
                                            <div class="input-field">
                                                <label>Descrição</label>
                                                <input type="text" name="description" placeholder="Coloque uma Descrição" required>
                                            </div>

                                            <button type="submit">Salvar</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <i class='bx bx-filter' id="openModalFiltro"></i>

                    <!-- MODAL DE FILTRO -->
                    <div class="modal-filtro" id="modalFiltro">
                        <div class="modal-filtro-content">
                            <!-- Botão de fechar -->
                            <div class="closeButton">
                                <button class="modal-close" id="btnFecharModal">X</button>
                            </div>

                            <h2>Selecione os filtros desejados</h2>

                            <form id="form-filtro">
                                <!-- Filtro: Data de Início do Empréstimo -->
                                <div class="input-group">
                                    <label for="data-inicio">Data de Início do Empréstimo:</label>
                                    <input type="date" id="data-inicio" name="dataInicio">
                                </div>

                                <!-- Filtro: Data de Pagamento do Empréstimo -->
                                <div class="input-group">
                                    <label for="data-pagamento">Data de Pagamento do Empréstimo:</label>
                                    <input type="date" id="data-pagamento" name="dataPagamento">
                                </div>

                                <!-- Filtro: Valor do Empréstimo -->
                                <div class="input-group">
                                    <label>Valor do Empréstimo:</label>
                                    <div class="valor-range">
                                        <input type="number" id="valor-min" name="valorMin" placeholder="De" step="0.01">
                                        <span>até</span>
                                        <input type="number" id="valor-max" name="valorMax" placeholder="Até" step="0.01">
                                    </div>
                                </div>

                                <!-- Filtro: Funcionário -->
                                <div class="input-group">
                                    <label for="funcionario">Funcionário:</label>
                                    <select id="funcionario">
                                        <option value="" selected>Todos</option>
                                        <option th:each="socio : ${socios}" th:value="${socio.name}" th:text="${socio.name}"></option>
                                    </select>
                                </div>

                                <!-- Filtro: Banco de Saída -->
                                <div class="input-group">
                                    <label for="bancoSaida">Banco de Saída:</label>
                                    <select id="bancoSaida">
                                        <option value="" selected>Todos</option>
                                        <option th:each="banco : ${bancos}" th:value="${banco.nome}" th:text="${banco.nome}"></option>
                                    </select>
                                </div>
                                <!-- Botão de envio -->
                                <button id="btn-modal-filtro" type="submit">Filtrar</button>
                            </form>
                        </div>
                    </div>

                </div>

                <!-- TABELA -->
                <table id="example" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Cod</th>
                        <th>Valor</th>
                        <th>Porcentagem</th>
                        <th>Parcelamento</th>
                        <th>Banco Saida</th>
                        <th>Funcionario</th>
                        <th>Data do Emp.</th>
                        <th>Data final</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="historico: ${historias}">
                        <td><a th:href="@{/emprestimo/{codigo}(codigo=${historico.codigo})}" th:text="${historico.codigo}"></a></td>
                        <td th:text="${historico.price}"></td>
                        <td th:text="${historico.percentage} + '%'"></td>
                        <td th:text="${historico.parcelamento}"></td>
                        <td th:text="${historico.bancoSaida.nome}"></td>
                        <td th:text="${historico.socios.name}"></td>
                        <td th:text="${#dates.format(historico.created, 'dd/MM/yyyy')}"></td>
                        <td th:text="${#dates.format(historico.creationF, 'dd/MM/yyyy')}"></td>
                        <td>
                            <span th:if="${historico.status.name() == 'ATRASADO'}" style="color: red;">ATRASADO</span>
                            <span th:if="${historico.status.name() == 'PAGO'}" style="color: green;">PAGO</span>
                            <span th:if="${historico.status.name() == 'PENDENTE'}" style="color: orange;">PENDENTE</span>
                        </td>
                        <td>
                            <a th:href="@{/histori/{id}(id=${historico.id})}" class="btn btn-info">
                                <span class="material-symbols-sharp">file_open</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <!-- MAIN -->
</section>
<!-- CONTENT -->


<script src="/js/script.js"></script>
</body>
</html>