<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importação da fonte de ícones do Material Symbols -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"/>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <!-- My CSS -->
    <link rel="stylesheet" href="/css/index.css">

    <title>AdminHub</title>
</head>
<body>


<!-- SIDEBAR -->
<section id="sidebar">
    <a href="#" class="brand">
        <i class='bx bxs-smile'></i>
        <span class="text">AdminHub</span>
    </a>
    <ul class="side-menu top">
        <li >
            <a href="/">
                <i class='bx bxs-dashboard' ></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li class="active">
            <a href="/Table">
                <i class='bx bxs-shopping-bag-alt' ></i>
                <span class="text">My Table</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-doughnut-chart' ></i>
                <span class="text">Analytics</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-message-dots' ></i>
                <span class="text">Message</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-group' ></i>
                <span class="text">Team</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="#">
                <i class='bx bxs-cog' ></i>
                <span class="text">Settings</span>
            </a>
        </li>
        <li>
            <a href="#" class="logout">
                <i class='bx bxs-log-out-circle' ></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->



<!-- CONTENT -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu' ></i>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search...">
                <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
            </div>
        </form>
        <input type="checkbox" id="switch-mode" hidden>
        <label for="switch-mode" class="switch-mode"></label>
        <div id="open-modal">
            <button class="notification">
                <span class="material-symbols-sharp">notifications</span>
                <span class="num">8</span>
            </button>
        </div>

        <div id="fade" class="hide"></div>
        <div id="modal" class="hide">
            <div class="modal-header">
                <h2>Notifications</h2>
                <button id="close-modal"><span class="material-symbols-sharp">
                    close
                </span></button>
            </div>
            <div class="notify-item">
                <div class="notify_img">
                    <img src="/img/Admin.jpg" alt="" style="width: 50px;">
                </div>
                <div class="notify-info">
                    <p><span th:each="cliente : ${clientes}" th:text="${cliente.nome} + ' '"></span> commented on your <span>Timeline Share</span></p>
                    <span class="notify-time">10 minutes ago</span>
                </div>
            </div>
        </div>

        <div class="profile" onclick="toggleSubMenu()">
            <div class="profile-photo">
                <img src="img/Admin.jpg" alt="" />
            </div>
        </div>
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="img/Admin.jpg" alt="Perfil">
                    <h2>Shadow</h2>
                </div>
                <hr>
                <a href="/profile">
                    <span class="material-symbols-sharp">person</span>
                    Meu Perfil
                </a>
                <a href="/logout">
                    <span class="material-symbols-sharp">logout</span>
                    Sair
                </a>
            </div>
        </div>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right' ></i></li>
                    <li>
                        <a class="active" href="#">Table</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Recent Orders</h3>

                    <button class="add" aria-label="Adicionar empréstimo">Add Emprestimo</button>

                    <i class='bx bx-filter' ></i>
                </div>
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Porcent</th>
                        <th>PriceTotal</th>
                        <th>Parcelamento</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cliente : ${clientes}">
                        <td th:text="${cliente.nome}"></td>
                        <td>
                            <span th:each="historia : ${cliente.history}" th:text="${historia.price} + ' '"></span>
                        </td>
                        <td>
                            <span th:each="historia : ${cliente.history}" th:text="${historia.percentage} + ' '"></span>%
                        </td>
                        <td>
                            $<span th:text="${priceTotals[cliente.id]}"></span>
                        </td>
                        <td>
                            <span th:each="historia : ${cliente.history}" th:text="${historia.parcelamento} + ' '"></span>
                        </td>
                        <td>
                            <span th:each="historia : ${cliente.history}" th:text="${dataformatada[historia.id]} + ' '"></span>
                        </td>
                        <td>
                            <span th:each="historia : ${cliente.history}" th:text="${dataDePagamentoMap[historia.id]}"></span>
                        </td>
                        <td>
                            <span th:each="historia : ${cliente.history}" th:text="${historia.status} + ' '"></span>
                        </td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Porcent</th>
                        <th>PriceTotal</th>
                        <th>Parcelamento</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Status</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </main>
    <!-- MAIN -->
</section>
<!-- CONTENT -->


<script src="/js/script.js"></script>
</body>
</html>